name: build

on:
  push:
    branches:
      - main
      - dev*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js 25
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: 'npm'
      - name: Install packages
        run: npm install
      - name: Run lint
        run: npm run lint
      - name: Run typecheck
        run: npm run typeCheck
      - name: Run build
        run: npm run build
      - name: Run test
        run: npm run test
